.btn.site-btn {
background-color: #F49300;
color: white;
padding: 8px 32px;
border-radius: 50px;
font-size: 14px;

}

.btn.site-btn:hover {
  opacity: .75;
  transition: opacity 0.3s ease;
  color: white;

}

.intro-btns {
  text-align-last: center;
  padding: 20px 0px;
}
