/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: black;
$navbar-hover-color: $yellow;
$navbar-font-family: $header-font;
$navbar-bg: white;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 50px;
$navbar-vertical-padding: 5px;
$navbar-horizontal-padding: 20px;
$navbar-border-bottom-width: 0;
$navbar-border-bottom-color: grey;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 40px;
$navbar-btn-bg: lightgrey;
$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: 2px;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 2px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */
// .navbar {
//   color: white;
//   background: #1401ff;
//   font-size: 22px;
//   margin-bottom: 0px;
//   position: fixed;
//   border-radius: 0px;

//   a {
//     color: white;
//     text-decoration: none;
//   }

//   a:hover {
//     color: white;
//     text-decoration: underline solid white;
//   }
// }

// .navbar-nav {
//   text-align: center;
// }


.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  margin-bottom: 0px;
  height: 60px;
  font-size: 18px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px;
}
