/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: black;
$navbar-hover-color: $yellow;
$navbar-font-family: $header-font;
$navbar-bg: white;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 50px;
$navbar-vertical-padding: 5px;
$navbar-horizontal-padding: 20px;
$navbar-border-bottom-width: 0;
$navbar-border-bottom-color: grey;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 40px;
$navbar-btn-bg: lightgrey;
$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: 2px;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 2px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */
.navbar {
  color: white;
  background: #0800fc;
  font-size: 22px;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
      font-family: "Libre Baskerville";
      font-style: italic;
      font-weight: bold;
      color: #ff00c1;
      // letter-spacing: 1px;
      // text-transform: uppercase;
  }
}

.navbar-nav {
  text-align: center;
}
.social-btns {
    flex-direction: row;
    display: flex;
    display: flex;
    margin: auto;
    letter-spacing: 10px;
    font-size: 26px;
}
