html {
  scroll-behavior: smooth;
  min-width: fit-content;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #cards {
    grid-template-columns: 1fr 1fr;
  }
}

// @media screen and (min-width: 25em){
//   html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
// }

.landing-bg {
    // background-color: #FFC062;
    width: 100%;
    margin-bottom: 50px;

  img {
    width: inherit;
  }

}

.container {
  margin-bottom: 65px;

  h2 {
    margin-top: 0px;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: lighter;
    color: #FF8D05;
  }

  p {
    color: #4a4a4a;
    margin-bottom: 24px;
    font-size: 18px;

  }
  .tech-logos {
    margin-bottom: 24px;
    margin-left: -5px;

    img {
      width: 40px;
    }
  }

  iframe {
    margin-top: 24px;
  }
}

#about-section {
  color: #4a4a4a;
  display: flex;
  padding: 20px;


  align-content: center;
  align-items: center;
  justify-content: space-evenly;

  .about-text {
    width: 450px;

    h2 {
      font-size: 24px;
      font-family: "Roboto";
    }

    p {
      padding: 5px;
      font-size: 18px;

    }

  }

  .me-face {
    text-align:center;
    align-self: center;

      img {
        padding: 10px;
        width: 375px;

      }
    }
}

#contact-section {
  height: 100px;
  text-align: center;
  background-color: #FFC062;
  color: white;
  padding-top: 10px;

  a {
    font-size: 42px;
    text-decoration: none;
    color: #FB0202;
    padding-top: 20px;
  }
}


/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 400px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }

  #closet-carousel {
    width: 100%;

  .carousel-cell {
    width: 50%;
  }
    img {
    margin-right: 10px;

    }
  }
}
