html {
  scroll-behavior: smooth;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 232px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 10px;
  margin-right: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  background: linear-gradient(rgba(228, 0, 255, 0.7), #eeeeee00);
  padding-top: 70px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.landing-bg {
    background: #0800fc;
    width: 100%;
    padding: 10px;

  h1 {
    max-width: 50%;
    border: 5px solid #FFFFFF;
    margin: 80px auto;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 20px;

    .landing-sub {
      font-size: 18px;
    }
  }
}


// #bar {
//   width: 100%;
//   height: 65px;
// }

.gifs {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;

    img {
      width: 45%;
      margin: 10px;
    }

    h3, p {
      color: #626262;
    }
}

// .app-section {
//   justify-content: space-between;
//   height: 600px;
//   background: #F5F5F5;
//   padding: 30px;

//   .logo-paragraph {
//     width: 500px;
//     padding: 20px;

//     img {
//       height: 10%;
//       margin-bottom: 10px;
//     }
//   }

//   .app-screens {
//     padding: 20px;
//     width: auto;

//     img {
//       height: 650px;
//       margin: 10px;
//     }

//     p {
//       color: #626262;
//       font-size: 20px;
//     }

//   }

// }

#contact-section {
  height: 300px;
  text-align: center;
  background-color: #0800fc;

  a {
    font-size: 30px;
    text-decoration: none;
    color: #ff00c1;
    padding-top: 20px;
  }
}

#about-section {
  height: 300px;
  background-color: #ff00c1;
  color: white;

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 12px;
  }
}


