html {
  scroll-behavior: smooth;
  min-width: fit-content;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  // background: linear-gradient(rgba(228, 0, 255, 0.7), #eeeeee00);
  padding: 70px 10px;

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// @media screen and (min-width: 25em){
//   html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
// }

.landing-bg {
    background: black;
    width: 100%;
    padding: 10px;

  h1 {
    max-width: 50%;
    border: 5px solid #FFFFFF;
    margin: 80px auto;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 20px;

    .landing-sub {
      font-size: 18px;
    }
  }
}


// #bar {
//   width: 100%;
//   height: 65px;
// }

// .gifs {
//   display: flex;
//   justify-content: space-evenly;
//   padding: 20px;

//     img {
//       width: 45%;
//       margin: 10px;
//     }

//     h3, p {
//       color: #626262;
//     }
// }

// .app-section {
//   justify-content: space-between;
//   height: 600px;
//   background: #F5F5F5;
//   padding: 30px;

//   .logo-paragraph {
//     width: 500px;
//     padding: 20px;

//     img {
//       height: 10%;
//       margin-bottom: 10px;
//     }
//   }

//   .app-screens {
//     padding: 20px;
//     width: auto;

//     img {
//       height: 650px;
//       margin: 10px;
//     }

//     p {
//       color: #626262;
//       font-size: 20px;
//     }

//   }

// }


#about-section {
  // height: 525px;
  // background-color: #ff00c1;
  color: #4a4a4a;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;

  align-content: center;
  align-items: center;
  justify-content: space-evenly;

  .about-text {
    width: 450px;

    h2 {
      padding: 10px;
      // font-size: 28px;
      font-size: 4vmin;
      font-family: "Libre Baskerville";
      font-style: italic;
    }

    p {
      padding: 10px;
      // font-size: 16px;
        font-size: 3vmin;

    }

  }

  .me-face {
    text-align:center;
    align-self: center;

      img {
        padding: 10px;
        width: 375px;

      }
    }
}

#contact-section {
  height: 100px;
  text-align: center;
  background-color: #4a4a4a;
  color: white;
  padding-top: 10px;

  a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding-top: 20px;
  }
}

