---
title: Soraida Henne
---
<nav class="navbar fixed-top navbar-expand-lg navbar-white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#cards">Work <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-section">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact-section">Contact</a>
      </li>
      <div class="social-btns">
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/soraidahenne/" target="blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/sodapoph" target="blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </div>
    </ul>
  </div>
</nav>
<!-- <div class="navbar">
    <div class="work-nav">
      <a href="#purple-bar">Work</a>
    </div>
    <div class="about-nav">
      About
    </div>
    <div class="contact-nav">
      Contact
    </div>
  </div> -->
<div class="landing-bg">
  <h1>Soraida Henne <br>
    <span class="landing-sub">
      Creative Code <br>
      Design<br>
      Web Development</span></h1>
</div>
<div id="app-section mx-3">
  <!-- cards -->
  <div id="cards">
    <div class="card-category" style="background-image: url(images/cleverClosetThumb.png)">
    </div>
    <div class="card-category" style="background-image: url(images/obi01.png)">
    </div>
    <div class="card-category" style="background-image: url(images/cocktail01.png)">
    </div>
    <div class="card-category" style="background-image: url(images/generativeCircle.gif)">
    </div>
    <div class="card-category" style="background-image: url(images/generativeFace.gif)">
    </div>
    <div class="card-category" style="background-image: url(images/make-me.gif)">
    </div>
  </div>
  <!-- generative gifs -->
  <!--     <h3>Generative Animations</h3>
    <p>
      A selection of sketches created as a bridge between programming and art. These animations were all randomly generated with Processing.<br>
      Processing, P5.js
    </p> -->
  <!-- about -->
  <div id="about-section">
    <h2>About</h2>
    <p>Soraida is a multimedia artist and web developer</p>
  </div>
  <!-- contact -->
  <div id="contact-section">
    <h2>Contact</h2>
    <a href="https://www.linkedin.com/in/soraidahenne/" target="blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/sodapoph" target="blank">
      <i class="fab fa-github"></i>
    </a>
  </div>