---
title: Soraida Henne
---
<div class="navbar">
  <div class="work-nav">
    <a href="#generative-ani">Work</a>
  </div>
  <div class="about-nav">
    <a href="#about-section">About</a>
  </div>
  <div class="contact-nav">
    <a href="https://drive.google.com/file/d/1cgGnml6KhDD5LCKv-FI2w047YAb2_ie0/view?usp=sharing" target="blank">Resume</a>
  </div>
</div>
<!-- <div id="navbar">
  <a href="#default" id="logo">CompanyLogo</a>
  <div id="navbar-right">
    <a class="active" href="#home">Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
</div> -->
<div class="landing-bg">
  <img src="images/hero03.png" alt="name-logo">
</div>
<div id="app-section mx-3">
  <!-- cards -->
  <div class="container hideme" id="generative-ani">
    <h2>Generative Animations</h2>
    <p>A selection of sketches created as a bridge between programming and art. These animations were all randomly generated with Processing and translated for the web with P5.js.
    </p>
    <div class="tech-logos">
      <img src="images/html-o.svg" alt="html logo">
      <img src="images/css-o.svg" alt="css logo">
      <img src="images/javascript-o.svg" alt="js logo">
      <a href="https://generative-animations.netlify.app/" class="btn site-btn" target="blank">View Website</a>
    </div>
    <div id="cards">
      <div class="card-category" style="background-image: url(images/generativeFace.gif)">
      </div>
      <div class="card-category" style="background-image: url(images/generativeCircle.gif)">
      </div>
    </div>
  </div>
  <!-- make me -->
  <div class="container hideme">
    <h2>Make Me Look Different <br>
      (For You)</h2>
    <p>An interactive painting program built in Processing. The user can "paint" moving .gif images of various women onscreen. The user can alter the skin color, eye color, hair color, make-up, etc of each woman. Unknown to the user, all of the women have mixed racial backgrounds.</p>
    <div class="tech-logos">
      <img src="images/html-o.svg" alt="html logo">
      <img src="images/css-o.svg" alt="css logo">
      <img src="images/javascript-o.svg" alt="js logo">
      <a href="#" class="btn site-btn" target="blank">View Website</a>
    </div>
    <div class="card-category" style="background-image: url(images/make-me.gif)">
    </div>
    <iframe src="https://player.vimeo.com/video/322678701" width="640" height="364" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>
  <!-- clever closet  -->
  <div class="container hideme">
    <h2>CleverCloset</h2>
    <p>A mobile application dedicated to reduce one's impact on the environment by managing the clothes the user may already own, and encouraging the user to share and donate clothes among friends. Developed in two weeks as a final project in my team of four. I handled front-end development and the UI/UX. </p>
    <div class="tech-logos">
      <img src="images/html-o.svg" alt="html logo">
      <img src="images/css-o.svg" alt="css logo">
      <img src="images/javascript-o.svg" alt="js logo">
      <img src="images/ruby-o.svg" alt="ruby logo">
    </div>
    <div class="carousel" id="closet-carousel"
  data-flickity='{ "fade": true, "wrapAround": true, "autoPlay": true, "percentPosition": false, "fullscreen": true}'>
      <img src="images/screenshot01.png" class="carousel-image" alt="homescreen" />
      <img src="images/screenshot02.png" class="carousel-image" alt="profile page" />
      <img src="images/borrow.gif" class="carousel-image" alt="borrow gif" />
    </div>
  </div>
  <!-- obi -->
  <div class="container hideme">
    <h2>obi</h2>
    <p>An online marketplace for traditional Japanese garment rentals. Developed as a one-week "Airbnb-style" project. I handled the front-end web development and UX/UI in my team of four. </p>
    <div class="tech-logos">
      <img src="images/html-o.svg" alt="html logo">
      <img src="images/css-o.svg" alt="css logo">
      <img src="images/javascript-o.svg" alt="js logo">
      <img src="images/ruby-o.svg" alt="ruby logo">
      <a href="https://obi363.herokuapp.com/" class="btn site-btn" target="blank">View Website</a>
    </div>
    <div class="carousel" id="obi-carousel"
  data-flickity='{ "wrapAround": true, "autoPlay": true, "percentPosition": false, "fullscreen": true }'>
      <img src="images/obiLanding.png" class="carousel-image"  alt="obi landing" />
      <img src="images/obiList.png" class="carousel-image" alt="obi list" />
    </div>
  </div>
</div>
<!-- cocktails -->
<div class="container hideme">
  <h2>Cocktails & Soda</h2>
  <p>A website to help keep track of cocktail recipes. Three day solo project challenge.</p>
  <div class="tech-logos">
    <img src="images/html-o.svg" alt="html logo">
    <img src="images/css-o.svg" alt="css logo">
    <img src="images/javascript-o.svg" alt="js logo">
    <img src="images/ruby-o.svg" alt="ruby logo">
    <a href="https://cocktails-and-soda.herokuapp.com/cocktails" class="btn site-btn" target="blank">View Website</a>
  </div>
  <div class="carousel" id="cocktail-carousel"
  data-flickity='{ "wrapAround": true, "autoPlay": true, "percentPosition": false, "fullscreen": true }'>
    <img src="images/cocktail01.png" class="carousel-image" alt="cocktail landing" />
    <img src="images/cocktail02.png" class="carousel-image" alt="cocktail item" />
    <img src="images/cocktail03.png" class="carousel-image" alt="cocktail new" />
  </div>
</div>
<!-- sprout -->
<div class="container hideme">
  <h2>Sprout UI Mockup</h2>
  <p>Page mock-ups for a web app pitch. Sprout is an app that helps users manage their house plants.</p>
  <p>Created with Figma.</p>
  <!--   <div class="tech-logos">
    <img src="images/figma-brands.svg" alt="figma logo">
  </div> -->
  <div class="carousel" id="sprout-carousel"
  data-flickity='{ "wrapAround": true, "autoPlay": true, "percentPosition": false, "fullscreen": true }'>
    <img src="images/sprout-mockup.png" class="carousel-image" alt="sprout login" />
    <img src="images/Landing.png" class="carousel-image" alt="sprout landing" />
  </div>
</div>
<!-- about -->
<div class="container hideme">
  <div id="about-section">
    <h2>About</h2>
    <div class="about-text">
      <p>
        Soraida is a web developer and multimedia artist based out of Minneapolis, Minnesota who integrates a love for illustration with ever-changing technologies.
      </p>
      <p>
        She is a graduate of Minneapolis College of Art and Design with a BFA in Web and Multimedia Environments. She recently attended Le Wagon Tokyo, a 9-week intensive coding bootcamp to learn HTML, CSS, Bootstrap, JavaScript ES2015,
        SQL, git, GitHub, Heroku and Ruby on Rails.
      </p>
      <p>
        In her spare time, Soraida likes to sing karaoke, eat good food, and see the world through her thick glasses.</p>
    </p>
  </div>
  <div class="me-face">
    <img src="images/me-face.svg" alt="my mug">
  </div>
</div>
</div>
<!-- contact -->
<div id="contact-section">
  <p>Let's get in touch!</p>
  <div class="contact-icons">
    <a href="https://www.linkedin.com/in/soraidahenne/" target="blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/sodapoph" target="blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="mailto:soraidahenne@gmail.com" target="blank">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
</div>